<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Клиенты</title>
</head>
<body>
<h1>Клиенты</h1>
<hr>
<form th:method="GET" th:action="@{/}">
    Поиск по фамилии: <input type="text" name="firstName"><br>
    <input type="submit" value="поиск"/>

</form>
<div th:each="client: ${clients}">
    <p><b th:text="'FirstName:' + ${client.getFirstName()}"></b> <a th:href="@{/client/info/{id}(id=${client.getId()})}">Подробнее...</a></p>
    <hr>
</div>
<h3>создать клиента</h3>
<form th:method="POST" th:action="@{/client/add}" th:object="${client}" enctype="multipart/form-data">
    <label for="firstName">Введите данные клиента клиента: </label>
    <br>
    <input type="text" name="firstName" placeholder="Фамилия" id="firstName">
    <input type="text" name="secondName" placeholder="Имя" id="secondName">
    <input type="text" name="phoneNumber" placeholder="Номер телефона" id="phoneNumber">
    <input type="submit" value="Добавить клиента"/>
    <br>
</form>
</body>
</html>